.container
  %h3 Welcome to the Golf Handicap System!
  %p We are currently in basic mode. The following features of the GA Handicap System are supported:-
  %ul
    %li Best 8 of 20, multiplied by 0.93
    %li Immediate updating of handicaps
    %li No lapsed handicaps
    %li Slope
    %li Stableford handicapping adjustment
    %li Handicapping of conforming social scores
    %li Handicapping of Four-ball scores
    %li Changed 9-hole regulations
  %p The following features are not supported yet:-
  %ul
    %li Daily scratch ratings
    %li Cap
    %li Par and Stroke rounds
  %p
    %i.fa.fa-copyright
    Stuart Auld 2016
