%h3 Users in the system
%table.table.table-hover
  %thead
    %th Profile
    %th Full Name
    %th Handicap
  %tbody
    -@users.each do |u|
      %tr
        %td
          %a{href: "/users/#{u.id}"}=u.name
        %td="#{u.first_name} #{u.last_name}"
        %td=u.handicap
