.container
  .col-md-8
    .row
      %h4 Reset your password!
      %form{role: 'form', method: 'post', action: '#'}
        %input.form-control{type: 'hidden', name: 'email', required: 'required', value: @email}
        .row
          .form-group.col-md-6
            %label Password
            %input.form-control#password{type: 'password', minlength: '8', name:'password', required: 'required'}
            .help-block Minimum 8 characters
          .form-group.col-md-6
            %label Confirm Password
            %input.form-control#password2{type: 'password', name: 'password2', required: 'required'}
            .help-block.with-errors
        .row
          .form-group.col-md-4
            %button.btn.btn-default{type: 'submit'} Reset!
:javascript
  $( "form" ).validate({
    rules: {
      password: "required",
      password2: {
        equalTo: "#password"
      }
    }
  });
