@import "bootstrap";
@import "bootstrap3-datetimepicker";
@import "multiselect";

.numeric {
  text-align: right;
}

.centered {
  text-align: center;
  margin: 0 auto
}

img.profile {
  height: 50px;
  border-radius: 50%;
}
